POSTGRES_DB=ashutosh_advocate_db
POSTGRES_USER=ashutosh_advocate_app
POSTGRES_PASSWORD=CHANGE_ME

DB_URL=jdbc:postgresql://postgres:5432/ashutosh_advocate_db
DB_USERNAME=ashutosh_advocate_app
DB_PASSWORD=CHANGE_ME

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Sriram$53221

JWT_SECRET=CHANGE_ME_WITH_A_LONG_SECURE_SECRET
JWT_ISSUER=ashutosh-upadhyay-advocate-api
JWT_EXPIRATION_MINUTES=30

SWAGGER_ENABLED=false